
<div class="container">
  <div class="page-header text-center">
    <h1>Welcome, {{user.username}}! You're going to kinda sorta like this.</h1>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="well">
        <h3>User Information</h3>
          <p>
            <strong>First Name</strong>: {{user.username}} <br>
            <strong>Last Name</strong>: {{user.lastname}} <br>
            <strong>ID</strong>: {{user.id}}<br>
            <!-- <strong>Username</strong>: <%= user.local.username %><br>
            <strong>Password</strong>: <%= user.local.password %> -->
          </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="well">
        <h3>Built with:</h3>
          <p>
            <strong>Nodejs</strong> server<br>
            <strong>Expressjs</strong> server framework<br>
            <strong>MongoDB</strong> nosql database
          </p>
      </div>
    </div>
  </div>
</div>
