<!-- views/signup.ejs -->
<!doctype html>
<html ng-app="getHired">
<head>
  <title>Maybe I'll get Hired!</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
</head>
<body ng-controller="loginCtrl">
<div class="container">

<div class="col-sm-6 col-sm-offset-3" >

  <h1>Signup</h1>

  <!-- LOGIN FORM -->
  <form>
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" ng-model="formData.username" name="username">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" ng-model="formData.password" name="password">
    </div>
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" ng-model="formData.firstname" name="firstname">
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" ng-model="formData.lastname" name="lastname">
    </div>
    <button type="submit"  ng-click="registerUser()" class="btn btn-warning btn-lg">Signup</button>
  </form>

  <pre>
    {{ formData }}
  </pre>

  <hr>

  <p>If you have an account.. <a href="/login">Login</a></p>
</div>

</div>
</body>
</html>
