<!doctype html>
<html>
<head>
  <title>Maybe I'll get Hired!</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <video autoplay="autoplay" id="bgvid">
  <source src="amazing-horse.mp4" type="video/mp4">
  </video>
  <div class="login-failed">
    <h2>Your username has already been registered. Whoops!</h2>
    <a href="/login"><span>Try again</span></a>
  </div>
</body>
</html>